.app {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}
.app main {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.product-details{
  width: 100%;
  height: 100vh;
  text-align: center;
}

.product-info {
  margin-top: 8vh;
  height: 100%;
  width: 100%;
}

.product-info h2 {
  width: 50%;
  margin-left: 25%;
}

.product-details img {
  max-width: 50%;
  max-height: 50%;
  border-radius: 0.5rem;

}