.sidebar {
    border-style: solid;
    transition: width 100ms ease-in-out;
    width: 7.5%;
    height: 95vh;
    margin-top: 7.5vh;
    text-align: center;
    position: fixed;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
    background-color: gray;
}

.sidebar h1 {
    font-size: 2rem;
    margin-bottom: 0;
}

.sidebar h2 {
    font-size: 1.75rem;
    margin-bottom: 1%;
    margin-left: 1%;
}

.sidebar p {
    font-size: 0.75rem;
}

.sidebar img {
    height: 3rem;
    transition: transform 150ms ease ;
    margin-top: 2vh;
    user-select: none;
    cursor: pointer;
}

.slider h2 {
    font-weight: 500;
    font-size: medium;
    color: blue;
    padding-top: 0.5vh;
}

.slider h2:hover {
    text-decoration: underline;
    cursor: pointer;
}

.receipt-list {
    max-height: 10%;
    overflow: scroll;
}

.receipt-button {
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .receipt-button:hover {
    background-color: blue;
    color: white;
  }
  

  .sidebar {
    width: 7.5%;
  }
  
  .sidebar.open {
    width: 25%;
  }
  
  .arrow.rotate {
    transform: rotate(180deg);
  }