.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  min-height: 100vh;
  background: #f7fafc;
}

.fetched{
  width: 100%;
    height: 90vh;
    margin-top: 10vh;
    padding: 2.5%;
}