#exercise-page{
    width: 100%;
    height: 90vh;
    margin-top: 10vh;
    padding: 2.5%;
}
#exercise-form{
    border-style: solid;
    border-radius: 1rem;
    height: 20vh;
    padding: 1%;
    max-width: 10%;
}

#exercise-form input{
    display: block;
    border-radius: 1rem;
    border-width: 0.5px;
    padding: 0.5rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5vh;
}

#exercise-form select{
    display: block;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 90%;
    margin: auto;
    margin-bottom: 0.5vh;
}

#exercise-form button{
    display: block;
    border-radius: 0.75rem;
    width: 90%;
    background-color: rgb(125, 160, 235);
    padding: 0.25rem;
    margin: auto;
    color: black;
}

#exercise-form button:hover{
    cursor: pointer;
    background-color: rgb(72, 123, 233);
}

#exercise-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.exercise-card{
    border-style: solid;
    text-align: center;
    width: 15%;
    height: 15vh;
    margin: 2%;
    border-width: 0.1px;
    border-radius: 2rem;
    padding: 2%;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.exercise-card p, h3{
    margin: 2px;
    position: relative;
}


.exercise-card .show-not-hover{
    display: block;
    margin-top: 20%;
}

.exercise-card:hover .show-not-hover{
    display: none;
}

.exercise-card .show-on-hover{
    display: none;
}

.exercise-card:hover .show-on-hover{
    display: block;
}
