#Navbar {
  padding-top: 20px;
  max-height: 10vh;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 10px;
}

li:hover {
  cursor: pointer;
  color: #555555;
}

li:first-child {
  margin-left: 2.5%;
}

li:last-child {
  margin-right: 2.5%;
}

li:nth-child(2):before {
  margin-right: 10px;
  color: #888888;
}

li:last-child:before {
  content: "";
}

li:last-child {
  margin-left: auto;
}

li:last-child:hover {
  color: #ff0000;
}