.sidebar {
    width: 7.5%;
    height: 100vh;
    border-style: solid;
    text-align: center;
    position: fixed;
    background-color: rgb(74, 155, 247);
    font-size: 20px;
    font-weight: 800;
    color: yellow;
    -webkit-text-stroke-width: 0.25px;
    -webkit-text-stroke-color: black;
}

