* {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
  }

  h1 {
    color: black;
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
  }

  #movie-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    justify-content:space-around;
    margin-left: 10%;
}

.movie-img {
    height: 500px;
    width: 350px;
    background-color: rebeccapurple;
    margin-bottom: 1%;
}


.movie-container {
    height: 550px;
    width: 350px;
    margin-bottom: 4%;
}